<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 애플리케이션 이름 -->
    <display-name>BoardProject</display-name>

    <!-- 서블릿 정의 -->
    <servlet>
        <servlet-name>RootRedirectController</servlet-name>
        <servlet-class>controller.RootRedirectController</servlet-class>
    </servlet>

    <!-- 서블릿 매핑 -->
    <servlet-mapping>
        <servlet-name>RootRedirectController</servlet-name>
        <url-pattern>/</url-pattern> <!-- 루트 경로 매핑 -->
    </servlet-mapping>

    <!-- 기본 웰컴 파일 설정 -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file> <!-- /login.jsp를 기본 페이지로 설정 -->
    </welcome-file-list>
</web-app>
